<div class="container m-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-6 mb-3">
      <div class="row">
        <div class="col-md-9">
      <input type="text" [(ngModel)]="searchQuery" class="w-100 form-control">
        </div>
        <div class="col-md-3">
      <button class="btn btn-primary ms-1 me-1 w-100" (click)="searchImages()">Search</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 mb-3" *ngFor="let image of images">
      <div class="card h-100 mb-3">
      <img [src]="image.urls.small" alt="" class="h-100">
      </div>
    </div>
  </div>
</div>
